NEXT_PUBLIC_SHIELDED_POOL_ADDRESS=0xad16d1a439a239adaa202d47ae1ae9661c656112
NEXT_PUBLIC_ZK_WASM_URL=/zk/shielded_spend.wasm
NEXT_PUBLIC_ZK_ZKEY_URL=/zk/shielded_spend_final.zkey
NEXT_PUBLIC_ANNOUNCER_ADDRESS=
NEXT_PUBLIC_REGISTRY_ADDRESS=
NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
